@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

table th{
	text-align: center;
}

table tbody tr td:first-child{
	text-align: right;
	vertical-align: top;
}

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

[epub|type~="signature"]{
	font-variant: smal;
}

[epub|type~="dedication"] p:first-child,
time{
	font-style: italic;
}

[epub|type~="dedication"] p:first-child + p{
	margin-top: 1em;
}

[epub|type~="dedication"] p:first-child abbr{
	font-style: normal;
}

section[epub|type~="dedication"]{
	margin-top: 20vh;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

[epub|type~="z3998:poem"] [epub|type~="bridgehead"],
[epub|type~="z3998:verse"] [epub|type~="bridgehead"],
[epub|type~="z3998:song"] [epub|type~="bridgehead"],
[epub|type~="z3998:hymn"] [epub|type~="bridgehead"]{
	text-align: justify;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 4em;
	text-indent: -1em;
}
